# This is a sample build configuration for PHP.
# Check our guides at https://confluence.atlassian.com/x/e8YWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.

image: php:7.2

pipelines:
  branches:
    master:
      - step:
          name: Development
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip
            - apt-get install -y openssh-client  
            - ssh root@206.189.199.185 -p 2345 'bash -s' < execute.sh
            - echo "Deploy step finished"