version: "3.3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: always
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8080:80"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_KEY=${APP_KEY}
    user: "www-data:www-data"
    #    user: "1002:1002"   # run as rameshji so mounted files work

