@charset "utf-8";
body {
	margin: 0px auto; 
	text-align:center;
	background: #ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px;
	line-height:20px;
	color:#666666
}
a:link, a:visited{text-decoration:none; color:#11a7db}
a:hover, a:active{text-decoration:underline; color:#11a7db}
p, div, td, span{text-align:left;  text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; color:#666666}

#wrapper{margin:0 auto; padding:50px}
.content{max-width:800px; margin:0 auto; border-bottom:5px solid #11a7db}
#logo{width:100%; text-align:center; padding-bottom:20px;display: flex; justify-content: center;}
.titlebox{background:#11a7db; padding:15px; font-size:18px; text-transform:uppercase; text-align:center; font-weight:bold; color:#ffffff;}
.contentarea{background:#ddd; padding:25px;}
.contentarea h2{line-height:1.4em}
.footer{border-top:1px solid #aaa; text-align:justify; padding-top:25px; font-size:11px}
@media (max-width: 767px) {
.contentarea h2{
line-height: 1.4em;
}
.contentarea h3{
line-height: 1.4em;
}
ul{
padding-left:14px;
}
.titlebox{
	line-height: 21px;
}
}
