        .filter-survey-li{
                /* color: #999999; */
                font-size: 15px;
                cursor: pointer;
                /* position: absolute; */
                width:auto;
                bottom: 0;
                padding-bottom:16px;
                z-index: 999;
        }
    
        .cst-survey-filter-active{
    
            border-bottom: 3px solid #0d6efd;
            color: #0d6efd;
            padding-bottom: 15px;
            font-weight: 600;
        }
      

        .table-height-cst-row{

            height: 51px;

        }

        .table-height-cst-row td{

            vertical-align: middle;
            text-align: center;

        }   

        .table-height-cst-row th{
            padding-top: 14px;
            color: #005A9A;
            background: #FAFAFA;
            text-align: center;
        }

        .tab-sta-btn{
            height: 30px;
            width: 80px;
            border-radius: 5px;
            border: none;
            font-weight: 600;
            font-size: 14px;
        }


        .link-social{
            width: auto;
        }

        .points-cst-bottom{
            font-size: 14px;
            transform: translate(-40px, 5px);
        }

        .ref-text{
            text-decoration: none;
            font-size: 16px;
        }

        .cst-status-final{
        font-size: 14px;
        }    

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        .input-my-ref::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            opacity: 0.5; /* Firefox */
          }

          .points-enter-sec{
            transform: translateX(-30px);
          }

          .cst-li-scroll::-webkit-scrollbar{
            display: none;
          }

          .reed-options{
            font-size: 16px; 
          }

          .cst-mid-li{
            transform:translateX(-5%)
          }

          
          .li-tab-row {
            position: relative;
            height: 60px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 50px;
            width: 100%;
            flex-wrap: nowrap;
        }

        .li-tab-row {
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
        }
        .li-tab-row::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        /* .li-list-item-2{
            left:12%;
        }
        
        .li-list-item-3{
            left:21%;
        }

        .li-list-item-4{
            left:33%;
        }

        .li-list-item-5{
            left:45%;
        }

        .li-list-item-6{
            left:59%;
        }

        .li-list-item-7{
            left:79%;
        }

        .li-list-item-8{
            left:91%;
        } */

        .earned-points{
            border-right: 1px solid white;
        }

        .remaining-points{
            border-top: 0px solid white;
        }

        .earned-text{
            font-size: 13px; 
        }

        .remaining-text{
            font-size: 13px; 
        }

        .added-answer{
            text-align: end;    
        }

        .select-width{
            width: 70%;
        }
        .update-button {
            font-size: 16px;
            width: 100px;
            margin-bottom: 10px;
        }
        .edit-button {
            font-size: 16px;
            width: 100px;
            margin-bottom: 10px;
        }
        .btn-holder {
            display: flex;
            justify-content: center;
        }
        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            height: 50px;
        }

        .select2-container--default .select2-selection--multiple {
            /* height: 50px; */
            overflow-y: auto;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            top: 100%;
        }
        .hid{
            display: none;
        }

        .button_disabled {
            width:150px; background: #F4F4F4!important; color:black; border:none;
        }

        .button_enabled {
            width:150px; background: none; color:black; border:1px solid #1080D0;
        }
        .btn:hover {
            color: initial;
            background-color: initial;
            
        }
        .button_disabled:active {
            background-color: #6c757d;
            color: #fff;
        }
        @media only screen and (max-width: 990px) {

            .select-width{
                width: 100%;
            }

            .added-answer{
                text-align: start;    
            }

            .earned-text{
                font-size: 13px; 
            }
    
            .remaining-text{
                font-size: 13px; 
            }

            .earned-points{
                border-right: 0px solid white;
            }
    
            .remaining-points{
                border-top: 1px solid white;
            }

            .li-list-item-2{
                left:44%;
            }
            
            .li-list-item-3{
                left:78%;
            }
    
            .li-list-item-4{
                left:123%;
            }
    
            .li-list-item-5{
                left:170%;
            }
    
            .li-list-item-6{
                left:221%;
            }
    
            .li-list-item-7{
                left:285%;
            }

        .li-list-item-8{
            left:330%;
        }

            .cst-border-first-sec{

                border-right: 0px solid #ECECEC;
                border-bottom: 1px solid #ECECEC;
    
            }

            .cst-bg-hot-survey{
                background-color: transparent;
                border: none;
                box-shadow: none;
            }

            .table-height-cst-row th{

                font-size: 10px;
            }

            
            .table-height-cst-row td{

                font-size:9px;
            }

            .tab-sta-btn {

            height: 30px;
            width: 58px;
            border-radius: 5px;
            border: none;
            font-weight: 600;
            font-size: 10px; 
            }




            


            .link-social{
                width: 90%;
            }

            .reed-options{
                font-size: 15px; 
              }

            .points-cst-bottom{
                font-size: 14px;
                transform: translateX(-10px);
            }

            .ref-text{
                text-decoration: none;
                font-size: 13px;
            }

            .cst-status-final{
                font-size: 10px;
            }

            
          .cst-mid-li{
            transform:translateX(-5%)
          }

            .points-enter-sec{
                transform: translateX(0px);
              }
    
          }

.select2-selection{
    height:50px;
    border: 0px solid black;
    padding-top: 6px;
}

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 45%;
    border-top: 5px solid #888;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
