@font-face {

    font-family: roboto;

  }

html * {

    font-family: roboto;

}  

.wrapper {
    overflow: hidden;
  }
  
  .circle {
    width: 400px;
    height: 200px;
    background-color: white;
    border-top-left-radius: 380px;
    border-top-right-radius: 380px;
    border: 100px solid #8387FF;
    border-bottom: 0;
  
    transition: all 1s ease;
    
    transform-origin: bottom;
    position: absolute;
    z-index: 1;
    transform: rotate(-180deg);
    
    bottom: 0;
    left: -100px;
  }
  
  .circle-out {
    width: 400px;
    height: 200px;
    background-color: white;
    border-top-left-radius: 380px;
    border-top-right-radius: 380px;
    border: 100px solid #ededed;
    border-bottom: 0;
    position: relative;
  }
  
  .text {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  
  
  
  
  
  
  
  
  
  
          .cst-active{
  
              font-weight: bold;
              background: #f0eeff;            
              padding:10px;
              border-radius: 20px;
              transform: translateX(-10px);
          }
  
  
          .footer-ul li{
              display: inline-block;
          }
  
          .footer-ul li a{
          text-decoration: none;
          font-size: 12px;
          }
  
          input[type="checkbox"]{
              transform: scale(1.2);
          }
  
          .cst-menu-user-li{
              font-size: 12px;
          }
  
          .side-menu-li{
              color: black;
              font-size: 15px;
          }
  
          /* .notification::after{
  
              content:"";
              position: absolute;
              height: 12px;
              width: 12px;
              background: red;
              left: 55%;
              border-radius: 10px;
  
          } */
  
          #searchBar:focus-visible{
  
              outline: none;
  
          }

          #searchBarM:focus-visible{
  
            outline: none;

        }
  
  
          .cst-space{
              padding-top: 3px;
              padding-bottom: 3px;
  
          }
  
  
          #hamB:focus{
              box-shadow: none;        
          }
  
  
          .user-text{
  
              font-weight: 400;
              font-size: 14px;
              color: #000000;
          }
  
          .user-text-main{
              font-weight: 600;
              font-size: 18px;
              color: #000000;
          }


          .cst-clock::before{
            content: "";
            height: 260px;
            width: 1px;
            background: #ECECEC;
            position: absolute;
            transform: translate(18px,7px);          
        }


        .cst-border-first-sec{

            border-right: 1px solid #ECECEC;

        }

        .cst-bg-hot-survey{
            background-color: #F8F8F8;
            box-shadow:  0px 24px 9px rgba(0, 0, 0, 0.01), 0px 13px 8px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.09), 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        }


        .cst-alert-survey{
            height: 11px;
            width: 10px;
            background-color: orangered;
            position: absolute;
            border-radius: 10px;
            right: 10%;
            transform: translateY(8px);
  
        }

        .cst-alert-survey-mob{
            height: 11px;
            width: 11px;
            background-color: orangered;
            position: absolute;
            border-radius: 10px;
            right: 10%;
            transform: translate(-20px,-23px);
        }
        







