@font-face {
    font-family: roboto;
    
  }
  html * {
    font-family: roboto;
}  
.offcanvas {

    transition: none !important;

    /* background: rgba(0,0,0,0.5) !important; */

}
.my_details::-webkit-scrollbar{
    display: none;
  }
  #basic_prof{
    animation: showhide 1s linear;
}
@keyframes showhide {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 0.25;
  }
  50% {
      opacity: 0.5;
  }
  75% {
      opacity: 0.75;
  }
  100% {
      opacity: 1;
  }
  }
#my_profile_details a{
    color: #999999;
    /* padding-left: 2%; */
    margin-left: 1%;
    font-weight: 500;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    /* display: block; */
    max-width: fit-content;
	overflow: hidden;
	text-overflow: ellipsis;
}
#update-button{
    font-size: 16px;
}
#update_button .two_step p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
} 
#main_content .my_account{
    font-weight: 600;
}
.active_color{
    color:#1080D0 !important;
    border-bottom: 3px solid;
/*    padding: 0px 0px 18px 0px;*/
    padding-bottom: 18px !important;
    font-weight: 600 !important;
}
.pass_icon{
    display: block !important;
    text-align: right;
    top: -25px;
    right: 10px;
    position: relative;
}
.input_opt input{
    width: 20px;
    height: 19px;
    position: relative;
    top: 3px;
}
.swal2-title{
padding-bottom : 5px;
padding-top: 15px;
}
 #DEACTIVE,#DELETE{
  /* left: 44%; */
    /* top: 3%; */
    margin-bottom: 10%!important;
    /* position: fixed; */
    border-radius: 10px;

} 
/* #DELETE{
    /* left: 44%; */
    /* top: 3%; */
    /*margin-bottom: 10%;
    /* position: fixed; */
    /*border-radius: 10px;

} */
.offcanvas-body .deactive_head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* margin-top: -34px; */
}
.offcanvas-body .deactive_p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #787878;
}
#deactive_reason{
    position: relative;
    width: 17px;
    height: 17px;
    top: 3px;
}
#deactive_label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
#deactive_account .deactive_process,
#delete .deactive_process{
    width: 19px;
    height: 17px;
    position: relative;
    top: 3px;
}
.offcanvas-body .text_area{
    border: 1px solid #DDDDDD;
    height: 48px;
    border-radius: 6px;
    font-size: 12px;
    padding-left: 10px;
}
#deactivateButton{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: black;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px !important;
    padding-right: 26px !important;
}
#deleteButton{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px !important;
    padding-right: 36px !important;
}
#cancelButton{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 5%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px !important;
    padding-right: 36px !important;
}
#email_frequency .unsubscribe{
    display: flex;
    justify-content: space-between;
}
#email_frequency .unsubscribe a{
    color: #2295F4;
    font-size: 14px;
}
#email_frequency .email_p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.02em;
}
#basic_prof{
    /* visibility: hidden; */
    /* display: none; */
}
#basic_prof .photo_upload{
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: left;
}

#security p{
    color: #787878;
}
#security{
    display: none;
    transition: .5s;
}
.hid {
    display: none;
}
.Show{
    display: block !important;
    /* transition: show all 2s linear; */
    animation: showhide 1s linear;
  }
  @keyframes showhide {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
  }
#email_frequency h5,
#security h5,
#my_data h5,
#deactive_account h5,
#delete h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
#email_frequency p,
#deactive_account p,
#delete p{
    color: #787878;
    font-size: 14px;
}
#deactive_account .match_surveys,
#delete .match_surveys{
    color: black;
    font-weight: 400;
}
#deactive_account{
    display: none;
}
#email_frequency .nnote{
    color: black;
    font-weight: 600;
}
#email_frequency{
    display: none;
}
#my_data{
    display: none;
}
#my_data p{
    color: #787878;
    font-size: 14px;
    font-weight: 400;
}
#delete{
    display: none;
}
.email_input{
    margin-right: 20px;
}
.two_step{
    display: flex;
    justify-content: space-between;
    background: #FBFBFB;
    /* padding-top: -30px; */
    margin-top: 17px;
    border-radius: 10px;
    height: 131px;
    /* padding-bottom: -35px; */
    padding-left: 15px;
}
#security .two_step .email_2fa{
    padding-right: 10px !important;
}
#scroll-img{
    width: 64px;
    display: inline-block;
    border-radius: 20px;
    padding: 3px;
    background: #CCCCCC;
    cursor: pointer;
    transition: all 1s !important;
}
#scroll-img2{
    width: 64px;
    display: inline-block;
    border-radius: 20px;
    padding: 3px;
    background: #CCCCCC;
    cursor: pointer;
    transition: all 1s !important;
}
.scrollImg{
    /* transform: translate(34px, -2px); */
    background: forestgreen !important;
    /* transition:all 1s; */
}
.scrollImg2{
    transform: translate(34px, -2px);
    /* background: forestgreen !important; */
    transition:all 1s;
}
/* 

@media(min-width: 220px) and (max-width:365px){
    #DEACTIVE{
        margin-left: -43%;
        top: 25%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    }
    #DELETE{
        margin-left: -43%;
        top: 25%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    }
}
@media(min-width: 370px) and (max-width:380px){
    #DEACTIVE{
        margin-left: -45%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    }
    #DELETE{
        margin-left: -45%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    }
}
@media(min-width: 380px) and (max-width:405px){
    #DEACTIVE{
        margin-left: -41%;
        height: 560px;
        top: 30%;
        transform: translate(0%,-11%) !important;
    }
    #DELETE{
        margin-left: -41%;
        height: 560px;
        top: 30%;
        transform: translate(0%,-11%) !important;
    }
}
@media(min-width: 406px) and (max-width:480px){
    #DEACTIVE{
        margin-left: -35%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    }
    #DELETE{
        margin-left: -35%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    }
} */
@media(min-width: 480px) and (max-width:767px){
    /* #DEACTIVE{
        margin: auto;
        height: 560px;
        transform: translate(6%,-11%) !important;
    } */
    /* #DELETE{
        margin:auto;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    } */
}
@media(min-width: 681px) and (max-width:800px){
    /* #DEACTIVE{
        margin-left: -36%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
        left: 60%;
    
    } */
    /* #DELETE{
        margin-left: -36%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
        left: 60%;
    } */
}
@media(min-width: 801px) and (max-width:825px){
    /* #DEACTIVE{
        margin-left: -18%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
         left: 60%; 
    
    } */
    /* #DELETE{
        margin-left: -15%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
    } */
}
@media(min-width: 826px) and (max-width:950px){
    /* #DEACTIVE{
        margin-left: -30%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
        left: 60%;
    
    } */
    /* #DELETE{
        margin-left: -30%;
        top: 28%;
        height: 560px;
        transform: translate(6%,-11%) !important;
        left: 60%;
    } */
}
@media(min-width: 955px) and (max-width:1350px){
    /* #DEACTIVE{
        margin-left: -27%;
        top: 18%;
        height: 560px;
        transform: translate(6%,-11%) !important;
        left: 60%;
    
    } */
    /* #DELETE{
        margin-left: -25%;
        top: 18%;
        height: 560px;
        transform: translate(6%,-11%) !important;
        left: 60%;
    } */
}
@media (max-width: 767px) {
  #DEACTIVE,
  #DELETE {
    margin-bottom: 10% !important;
    border-radius: 10px;
    width: 90%;
  }
}
@media(min-width: 220px) and (max-width:767px){
    #update-button{
        width: 100%;
    }
    .input_opt{
        display: block;
    }
    #basic_prof label{
        padding-top: 10px;
    }
    .two_step{
        display: block;
		padding-right: 3%;
    }
    #deactive_account input,
    #delete input{
        margin-right: 10px;
    }
    .nav-sec .john{
        display: none;
    }
    .nav-sec img{
        
    }
    .two_step .two_step_p{
        font-size: 14px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        /* text-align: left; */
    }
    .two_step .two_step_h4{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    .email_2fa{
        font-family: Roboto;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 25px !important;
        /* letter-spacing: -0.02em; */
        text-align: left;
    }
    #scroll-img{
        position: relative;
        left: 5px;
    }
    /*#main_content{
        background: #FBFBFB !important;
    }*/
    /*.cst-sec .cst-sec-anch{
                                display: block !important;
                                width: 100px;
                                position: absolute;
                                top: 12px;
                                left: 55px;
                            } */
    .ham-Icon{
        position: relative;
        right: 10px;
    }
    .cst-sec .notify-icon{
        height: 40px;
        width: 40px;
        right: 24px;
        position: absolute;
    }
    .nav-sec .right-img{
        padding: 3px 7px 3px 9px!important;
        margin-right: 5px;
    }
    footer .footer-ul{
        text-align: center;
        padding-left: 5px;
    }
    footer .copy-right{
        text-align: left !important;
        padding-left: 17px;
        font-size: 13px;
        margin-bottom: 10px;
    }
    /* #my_profile_details{
        width: 790px;
    } */
    .my_details{
        overflow-x: scroll;
        position: relative;
        height: 26px;
        margin-top: -20px !important;
    }
    #Basic_Profile{
        position: absolute;
        left: -3px;
        /* width: 117px !important; */
    }
    #Security{
        position: absolute;
        left: 125px;
        /* width: 78px !important; */
    }
    #Email_Frequency{
        position: absolute;
        left: 213px;
        width: 143px !important; 
    }
    #MyData{
        position: absolute;
        left: 365px;
        /* width: 85px !important; */
    }
    #Deactivate_Account{
        position: absolute;
        left: 460px;
        /* width: 165px !important; */
    }
    #Delete{
        position: absolute;
        left: 630px;
        /* width: 168px !important; */
    }
    .hr_line{
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px !important;
    }
    .two_step{
        padding-top: 1px;
        height: 215px;
    }
    #main_content{
        padding-left: 13px !important;
        padding-right: 13px !important;
    }
    #main_content_sec{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    #footer{
        background: none;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
    .footer_va{
        position : absolute !important;
        bottom : 0px !important;
        overflow-x : hidden !important;
    }
    #footer .foot_div{
        background:none !important;
    }
    #deactive_account .match_surveys,
    #delete .match_surveys{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    }
    #info_dropdown{
        transform: translate(-83%,5%) !important;
        border-radius: 15px !important; 
    }
    .unsubscribe{
        display: block !important;
    }
    .unsubscribe a{
        display: block;
        text-align: center;
        margin-top: -25px;
    }
    #notification{
        transform: translate(-83%,10%) !important;
    }
    
    .active_color{
        /* border-bottom: none !important; */
        padding-bottom: 4px !important;
    }
    #social_icon img{
        position: absolute !important;
        top: 62% !important;
    }
}
@media(min-width: 768px) and (max-width:862px){
    .my_details{
        overflow-x: scroll;
        position: relative;
        height: 26px;
        margin-top: -20px !important;
    }  
    #Basic_Profile{
        position: absolute;
        left: -3px;
        width: 117px !important;
    }
    #Security{
        position: absolute;
        left: 125px;
        width: 78px !important;
    }
    #Email_Frequency{
        position: absolute;
        left: 213px;
        width: 143px !important;
    }
    #MyData{
        position: absolute;
        left: 365px;
        width: 85px !important;
    }
    #Deactivate_Account{
        position: absolute;
        left: 460px;
        width: 165px !important;
    }
    #Delete{
        position: absolute;
        left: 630px;
        width: 168px !important;
    }
    .two_step{
        height: 145px;
    }
    .email_2fa{
        width: 85px !important;
    }
    #info_dropdown{
        transform: translate(-50%,5%) !important;
    }
    #notification {
        transform: translate(-40%,10%) !important;
    }
    #social_icon img{
        right: 11% !important;
    }
    .hr_line{
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px !important;
    }
    .active_color{
        /* border-bottom: none !important; */
        padding-bottom: 4px !important;
    }
    /* #DEACTIVE {
        left: 30%;
        top: 3%;
        margin-bottom: 54%;
        position: fixed;
        border-radius: 10px;
    }
    #DELETE {
        left: 30%;
        top: 3%;
        margin-bottom: 54%;
        position: fixed;
        border-radius: 10px;
    } */
        
}
@media(min-width:862px) and (max-width:892px){
    #Delete{
        position: absolute;
        left: 663px;
        width: 190px !important;
    }
    .two_step{
        height: 145px;
    }
    .email_2fa{
        width: 85px !important;
    }
}
@media(min-width: 1300px) and (max-width:1400px){
    /* #DEACTIVE{
        left: 42%;
        top: 3%;
        margin-bottom: 5%;
        position: fixed;
        border-radius: 10px;
    
    } */
    /* #DELETE{
        left: 42%;
         top: 3%; 
        margin-bottom: 5%;
         position: fixed;
        border-radius: 10px;
    
    } */
}
@media(min-wdith:350px) and (max-width:380px){
    #two_st{
        padding-top: 1px;
        height: 223px !important;
    }
}