@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: roboto;

}

@font-face {
  font-family: "open Sans";

}

#linkedin_but {
  box-shadow: none;
}

html * {
  font-family: roboto !important;
}

p,
h1 {
  font-family: roboto !important;

}

.heading_style h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.heading_style p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #757575;
}

.icon_style {

  width: 45px;
  height: 45px;
  left: 2px;
  border-radius: 50px;
  margin: auto;
  background: white;
}

.icon_padding_style {
  padding: 12px 15px;
}

.icon_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  /*padding: 20px 0 0;*/
}

.icon_heading_2 {

  position: absolute;
  width: 105px;
  height: 19px;
  left: 36px;
  top: -20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #757575;
  /* identical to box height */

  color: #757575;
}

.icon_heading_3 {
  width: 31px;
  height: 19px;
  left: 211px;
  position: relative;
  top: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  font-size: 14px;
  color: #006BDE;
  margin-bottom: -20px;
  font-size: 14px;
  /* identical to box height */
  color: #006BDE;

}

.icon_heading_3 a {
  text-decoration: none;
}

#country-op {
  height: 36px;
  font-size: 16px;
  color: black;
}

.country option {
  height: 38px;
  font-size: 14px;
  color: black;
}

.div1 {
  position: absolute;
  width: 31px;
  height: 19px;
  left: 856px;
  top: 700px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #006BDE;
}

.div4 {
  position: absolute;
  width: 52px;
  height: 19px;
  left: 846px;
  top: 649px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #FFFFFF;
}

.fome_heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */


  color: #000000;

  opacity: 0.7;
}

.label_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */


  color: #000000;
}

.button_style {
  background: #DCDCDC;
  border-radius: 5px;
  width: 80%;
  margin-top: 20px;
  color: #757575;
}

.div_bg {
  background: #FBFDFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;

  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

/* .footer_style{
padding: 10px;
position: initial;
bottom: -16px;
width: 100%;
left: unset;
} */
.footer_style {
  padding: 10px;
  position: absolute;
  max-height: 100vh;
  bottom: 0%;
  right: 0px;
  /* top: 0%; */
  width: 100%;
  left: unset;
}

.footer_style p {
  margin-bottom: 0 !important;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

}

.p-md-5 {
  padding: 0rem !important;
}

.div_m {
  margin: 30px 0 0 0 !important;
}

.div_m_t {
  padding: 24px 10px;
}

.form-outline .l-name {
  display: none;
}

.form-outline .date {
  display: none;
}


.btn-primary {

  width: 59px;
  height: 50px;
  left: 843px;
  top: 496px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #FFFFFF;
}

.btn-style {
  box-sizing: border-box;
  position: absolute;
  width: 479px;
  height: 50px;
  left: 36px;
  top: 403.5px;
  background: #DCDCDC;
  border-radius: 5px;
}

.btn-style1 {
  box-sizing: border-box;
  position: absolute;
  width: 479px;
  height: 50px;
  left: 36px;
  top: 403.5px;
  background: #006BDE;
  border-radius: 5px;
}

.text {
  position: absolute;
  width: 59px;
  height: 19px;
  left: 204px;
  top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;

}

.text1 {
  position: absolute;
  width: 59px;
  height: 19px;
  left: 222px;
  top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;

}

.checkbox {
  box-sizing: border-box;

  position: absolute;
  width: 20px;
  height: 20px;
  padding-left: 20px;
  left: 627px;
  top: 430px;

  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.gradient-custom-lo {
  background: #DCDCDC;
}

.so_style {
  width: 60%;
}

.image_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-brand-2 {
  color: #878787;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  right: 125px;
}

.navbar-brand-2 a {
  color: #006BDE;
}

.p_open {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white !important;
  line-height: 19px !important;
  text-align: center;

  /*color: #FFFFFF;*/
}

.text_margin_style {
  margin-bottom: 1rem !important;
  text-align: center;
  font-size: 24px;
}

.button {

  box-sizing: border-box;

  position: absolute;
  width: 489px;
  height: 50px;
  right: 27px;
  top: 150px;
  padding-top: 50px;
  right: 22px;
  top: 317.9px;

  background: #DCDCDC;
  border-radius: 5px;
}

.button1 {


  box-sizing: border-box;

  position: absolute;
  width: 480px;
  height: 50px;
  left: 40px;
  top: 400px;
  padding-right: 20px;

  background: #DCDCDC;
  border-radius: 5px;
}



.Proceed_text1 {


  position: absolute;
  width: 59px;
  left: 245px;
  padding-top: 15px;
  padding: center;
  height: 19px;
  font-size: 16px;
  color: #757575;
}

.Proceed_text2 {


  position: absolute;
  width: 59px;
  left: 245px;
  padding-top: 8px;
  padding: center;
  height: 19px;
  font-size: 16px;
  color: #757575;
}

.Submit_text {

  position: absolute;
  width: 52px;
  left: 246px;
  padding-top: 8px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
}

.Login_text {

  position: absolute;
  width: 40px;
  height: 19px;
  left: 248px;
  padding-top: 10px;
  font-size: 16px;

  color: #FFFFFF;

}

.Register_text_style {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 0px !important;
  color: #000000;
}

.button_style {

  position: absolute;
  width: 59px;
  height: 19px;
  left: 843px;
  top: 496px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #757575;

}

.Reset {


  top: 280px;


  font-size: 16px;
  padding-top: 10px;


  color: #FFFFFF;


}

.form_label_style {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  opacity: 0.7;
}

.form-outline .label_text {
  position: relative;
  /* top: -28px; */
  left: 9px;
}

.cbox_style {
  position: relative;
  top: -2px;
  left: 9px;
}

.pull_right_style {
  float: right;
}

.line {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  text-align: center;
  gap: 40px;
}

.line::after {
  content: '';
  border-top: 2px dotted;
}

.border-center,
.border-center2,
.border-center3 {
  width: 50%;
  position: relative;
}

.border-center:before,
.border-center2:before,
.border-center3:before{
  content: '';
  position: absolute;
  top: 25%;
  border-bottom: 2px #ffffff dotted;
  width: 76%;
  z-index: 0;
  left: -45px;
}

.form-select {

  background-position: right 0.75rem center !important;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem !important;

}

.py-5 {
  padding-top: 0rem !important;
  padding-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 1.2rem !important;
}



.icon_img_style {
  /* padding: 10px; */
  padding-left: 50px;
  min-width: 80px;
  color: black;
  background: url(../img/black-ma-victor.png) no-repeat 15px !important;
  padding-left: 25px !important;

}

.icon_img_style1 {
  padding: 10px;
  min-width: 80px;
  background: url(../img/ma-Vector.png) no-repeat 15px !important;
  padding-left: 25px !important;

}

.icon_img_style4 {
  padding: 10px;
  min-width: 80px;
  background: url(../img/black-ma-victor.png) no-repeat 15px !important;
  padding-left: 25px !important;

}

.icon_img_style2 {
  padding: 10px;
  min-width: 40px;
  background: url(../img/fe-Vector.png) no-repeat 15px !important;
  padding-left: 20px !important;

}

.icon_img_style3 {
  padding: 10px;
  min-width: 40px;
  background: url(../img/blue-femail-victor.png) no-repeat 15px !important;
  padding-left: 20px !important;

}

.icon_img_style5 {
  padding: 10px;
  min-width: 40px;
  background: url(../img/fe-Vector.png) no-repeat 4px 10px !important;
  padding-left: 20px !important;

}

.genderChange {
  color: #006BDE !important;
}

.Thank_text_h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.Thank_gradient-custom-2 {
  background: #006BDE;
  display: grid !important;
  padding: 53px 0;
}

#register_with .div_bg a {
  margin-top: -10px;
  margin-left: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  border-bottom: 1px dotted black;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  border-bottom: 1px dotted black;
}

.div_m_t #click a,
#span-1 a {
  text-decoration: none;
}

#email,
#create_pass,
#confirm_pass {
  font-size: 16px;
  color: black;
}

#form2Example11 {
  font-size: 16px;
  color: black;
}

.input-group-addon {
  width: 6% !important;
  background-color: #e9ecef !important;
}

.input-group-addon a {
  color: #0d6efd !important;
  /*    padding-left: 4px;*/
  font-size: 14px;
}

#commit {
  width: 88%;
  position: relative;
  left: 46px;
  top: -40px;
  /*    opacity: 0.7;*/
}

#commit p {
  font-size: 13px; margin-top: -40px;
}

#navbar-brand {
  position: absolute;
  left: 125px;
}

.navbar-wrapper {
  display: none;
}

#email-error {
  position: absolute;
  /* padding-top: 15px; */
  /* bottom: 315px; */
  /*     bottom: 12px; */
  /* right: 17px; */
  font-size: 14px;
  color: red;
}

#password-error {
  position: absolute;
  /*    bottom: -20px;*/
  /*     right: 17px; */
  font-size: 14px;
  color: red;
}

.all_language_list li a {
  color: black !important;
  text-decoration: none !important;
  position: relative !important;
  left: -25px !important;
  font-size: 12px !important;
}

/*.dropdown-menu-right{
    position: absolute;
    transform: translate3d(-148px, -153px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}
*/
.dropdown-header {
  position: relative;
  right: -49px;
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

.toast-error {
  background-color: red !important;
  /*    font-size: 12px;*/
}

.toast-title {
  font-size: 13px !important;
}

.toast-message {
  font-size: 12px !important;
}

#reg_with {
  /*    margin-left: 7px;*/
}


@media(min-width: 340px) and (max-width:375px) {
  .div_m .sign {
    width: 40px;
  }
}

@media(min-width: 220px) and (max-width:767px) {
  #card {
    padding-left: 0px;
    padding-right: 0px;
  }

  .toast-error {
    width: 88% !important;
  }

  #card .rounded-3 {
    border: none;
  }

  #wrapp .already {
    display: none;
  }

  #wrapp .Nav-div img {
    position: relative;
    left: -135px;
    height: 30px;
    top: -5px;
  }

  #card #contain-div-1 {
    background: white;
  }

  #contain-div-1 .image_center {
    display: none;
  }

  #contain-div-1 h4 {
    color: black;
    font-size: 27px;
    margin-top: -35px;
    font-weight: 500;
    /*    position: absolute;
    top: -40px;
    left: 68px;*/
  }

  img#img_01 {
    position: relative;
    top: -10px;
  }

  #contain-div-1 p {
    color: black !important;
  }

  #line {
    border: 1px solid #DDDDDD;
    /* width: 100%; */
    position: relative;
    bottom: 24px;
  }

  #span-1 a {
    position: relative;
    top: -3px;
    left: 110px;
  }

  .div_m h2 {
    color: black;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

  }

  .div_m .icon_heading {
    color: white;

  }


  .border-center:before,
   .border-center2:before,
   .border-center3:before{
    content: '';
    position: absolute;
    /* top: 21%;
    border-bottom: 2px #DDDDDD dotted; */
    width: 48%;
    z-index: 0;
    left: -21px;
  }

  #div_mt .regis {
    display: flex;
    float: right;
    position: relative;
    right: 0px;
    top: -33px;
  }

  .cbox_style {
    max-width: 100%;
    position: relative;
    top: -2px;
    /* bottom: 10px; */
    margin-top: 10px;
    font-size: 13px;
    left: 4px;
  }

  #click .label_text {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    left: 0px;
  }

  .mb-4 #scales {
    position: relative;
    top: 33px;
    /*    right: 43px;*/
  }

  #commit p {
    position: absolute;
    left: -44px;
    font-size: 13px;
  }

  #proc {
    margin-left: -45px;
    margin-right: -17px;
  }

  #proc .btn {
    position: relative;
    top: 10px;
    width: 85%;
    margin-top: 45px;
  }

  .Submit_text {
    position: relative;
    left: 135px;
  }

  .icon_heading_2 {
    position: relative;
    /* right: 47px; */
    left: 0px;
    top: -12px;
  }

  #reg_with {
    /*    margin-top: -40px;*/
  }

  #register_with .div_bg {
    height: 40px;
  }

  #register_with .div_bg a {
    margin-top: 0px;
  }

  #register_with .div_bg a i {
    font-size: 15px;
  }

  .input-group-addon a {
    padding-left: 0px;
  }

  .mb-4 .btn-male {
    width: 70%;
  }

  .mb-4 .btn-female {
    width: 70%;
    margin-left: -39px;
  }

  #date_div {
    top: 15px;
  }

  .icon_heading_3 a {
    position: relative;
    right: 43px;
  }

  .div_m_t .image_center {
    height: 218px;
    width: 218px;
    margin-top: -65px;
  }

  div.col-4 #hr-1 {
    margin-left: 11px;
  }

  div.col-4 #hr-2 {
    margin-right: 11px;
  }

  #email-error {
    position: absolute;
    padding-top: 15px;
    bottom: 468px;
    /* bottom: 12px; */
    /* right: 17px; */
    font-size: 14px;
    color: red;
  }

  .all_language_list {
    min-width: 95px !important;
    max-height: 405px;
    /* overflow-y: scroll; */
    transform: translate3d(-50px, -5px, 0px);
    will-change: transform;
  }

  .footer_style a {
    text-decoration: none;
  }

  footer.footer_style {
    padding-top: 25px;
    position: initial;
    /* width: 548px; */
    height: auto;
    width: 100%;
    top: 0;
    margin-top: 0px;
  }

  .footer_style .vcenter .policy {
    position: relative;
    bottom: -8px;
  }

  .footer_style .vcenter .Policy {
    /* margin-left: 65px; */
    position: relative;
    bottom: -8px;
    left: 65px;
  }

  .footer_style .vcenter .policies {
    margin-left: -7px !important;
  }

  /*  .footer_style .vcenter .policies{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto';
    text-decoration: none;
  }
  .footer_style .vcenter .terms{ 
    font-size: 12px;
    position: absolute;
    display: block;
    padding-top: 13px;
    padding-left: 60px;
    text-decoration: none;
  }*/
  .footer_style .vcenter .copyright {
    position: absolute;
    margin-top: 58px;
    font-size: 12px;
    padding-left: 32px;
    text-decoration: none;
  }
}


@media(min-width: 982px) {
  .div_m_t {
    padding-left: 0px !important;
  }

  #container .container img {
    height: 45px;
  }

  img#img_01 {
    margin-left: 17px;
  }

  .div_bg {
    height: 48px;
    background: #FBFDFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
    width: 103px;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div_bg .so_style {
    width: 70%;
    margin-top: -3px;
  }

  #div_bg {
    position: relative;
    left: 17px;
  }

  #div_bg1 {
    position: relative;
    left: 10px;
  }

  input#scales {
    margin-top: 5px;
  }

  #reg_with {
    margin-left: 7px;
    /*    margin-left: 25px;
    margin-top: -31px;*/
  }

  div.col-4 #hr-1 {
    opacity: 0.1;
    position: relative;
    left: 42px;
    width: 127px;
    /* top: -1px; */
  }

  div.col-4 #hr-2 {
    opacity: 0.1;
    position: relative;
    right: 29px;
    width: 127px;
  }

  #proc .btn {
    width: 85%;
    margin-left: 9px;
    margin-top: 45px;
  }

  #face-icon {
    margin-left: -18px;
  }

  .footer_style .pull-left p {
    /*    padding-top: 15px;*/
    position: relative;
    top: 15px;
  }

  .footer_style p a {
    text-decoration: none;
  }

  .footer_style .pull_right_style {
    position: relative;
    left: 195px;
  }

  .footer_style .vcenter {}
}

@media(min-width: 768px) and (max-width:981px) {
  #line {
    border: 1px solid #DDDDDD;
    /* width: 100%; */
  }

  /*  #wrapp .Nav-div img {
    position: relative;
    left: -75px;
    height: 30px;
    top: 20px;
    }
  #span-1{
    position: relative;
    left: 227px;
  }*/


  #navbar-brand {
    left: 30px;
  }

  .navbar-brand-2 {
    right: 30px;
  }

  /*   .container #contain-div-1 .icon_style{
    display: none !important;
  }*/
  .border-center:before {
  content: '';
    /* position: absolute;
    top: 21%;
    border-bottom: 2px #DDDDDD dotted; */
    width: 73%;
    z-index: 0;
    left: -54px;
  }

  .border-center2:before {
    content: '';
    /* position: absolute;
    top: 21%;
    border-bottom: 2px #DDDDDD dotted; */
    width: 74%;
    z-index: 0;
    left: -58px;
  }

  .border-center3:before {
    content: '';
    /* position: absolute;
    top: 21%;
    border-bottom: 2px #DDDDDD dotted; */
    width: 74%;
    z-index: 0;
    left: -55px;
  }

  #container {
    height: 70px;
    /* width: 537px; */
  }

  #container .container {
    padding-top: 10px;
  }

  #container .container img {
    height: 30px;
    /*    margin-top: 8px;*/
  }

  .container #contain-div-1 {
    background: white;
    /* margin: 0 75px; */
    color: #000;
  }

  .container #contain-div-1 h4,
  .container #contain-div-1 p,
  .container #contain-div-1 h2 {
    margin-top: 25px;
    color: #000;
  }

  .container #contain-div-1 h4 {
    font-size: 38px;
    font-weight: 700;
    margin-top: 0px;
  }

  .container #contain-div-1 p {
    font-size: 16px;
    color: #757575 !important;
    line-height: 22px;
  }

  .container #contain-div-1 h2 {
    margin-top: 3px;
    font-size: 16px;
    color: #919191;
  }

  .container #contain-div-1 .image_center {
    display: none;
  }

  .container #card .card {
    border: none;
  }

  /*  #proc .btn{
    margin-top: 135px;
  }*/
  .card-body #div_mt .regi {
    /* display: flex; */
    font-size: 25px;
    position: absolute;
  }

  .card-body #div_mt .regis {
    display: flex;
    float: right;

  }

  .div_m_t #div_mt {
    margin-bottom: 20px;
  }

  .div_m_t #click a {
    text-decoration: none;
  }

  .div_m_t .card-body #register {
    padding-top: 10px;
    font-size: 24px;
  }

  .div_m_t .card-body #img_01 {
    height: 32px;
  }

  .Submit_text {
    position: relative;
  }

  #commit p {
    position: relative;
    top: 18px;
    font-size: 15px;
    color: black;
  }

  #country-op {
    height: 50px;
  }

  .icon_heading_3 a {
    position: relative;
    left: 66px;
  }

  .div_bg {
    /*    margin-left: 11px;*/
    height: 48px;
    background: #FBFDFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    text-align: center;
    padding-top: 9px;
    margin-top: 10px;
    /*    width: 140px;*/
  }

  #reg_with {
    /*    margin-top: -20px;*/
    margin-bottom: 10px;
    /*    margin-left: 4px;*/
  }

  #show_hide_password .input-group-addon a,
  #show_hide_password1 .input-group-addon a {
    /*    padding-left: 9px;*/
  }

  #register_with {
    gmargin-bottom: -30px;
    margin-top: -30px;
  }

  #register_with .div_bg a {
    margin-top: 0px;
    margin-left: 8px;
  }

  .form-outline .form-control,
  .input-group .form-control {
    height: 48px;
  }

  .form-outline .form_label_style {
    margin-top: 25px;
  }

  .form-outline input[type=checkbox] {
    margin-left: -45px;
    margin-top: 4px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
  }

  .form-outline .label_text {
    font-size: 50px;
    margin-left: 44px;
    /* margin-top: 22px; */

  }

  #register_with .col-3 .div_bg .so_sty {
    width: 28%;
    padding-top: 12px;
    padding-left: 15px;
  }

  #register_with .col-3 .div_bg .span-twit {
    font-size: 16px !important;
  }

  span.cbox_style {
    width: 100%;
    /* margin-left: 12px; */
    font-size: 15px;
    margin-right: 15px;
    position: relative;
    top: -5px;
  }

  #email,
  #password,
  #confirm_pass {
    color: #000;
    opacity: 0.7;
    margin-top: 0px;
  }

  #proc {
    margin-top: -25px;
  }

  #proc .btn-style {
    width: 88%;
    height: 50px;
    /* margin-left: -21px; */
    margin-top: 156px;
  }

  #proc .btn-style .text {
    font-size: 18px;
    line-height: 20px;
    /* margin-left: -22px; */
    position: absolute;
    left: 270px;
  }

  div.col-4 #hr-1 {
    width: 158px;
    position: absolute;
    left: 103px;
    top: 6px;
    opacity: 0.1;
  }

  div.col-4 #hr-2 {
    position: relative;
    width: 158px;
    top: 6px;
    right: 40px;
    opacity: 0.1;
  }

  div.col-4 h2.icon_heading_2 {
    font-size: 14px;
    position: relative;
    left: 56px;
    /*    top: -7px;*/
  }

  div.col-lg-6.div_m_t {
    box-shadow: 0px 1px 4px 2px rgba(174, 174, 174, 0.25);
    border-radius: 10px;
    margin-top: 45px;
    left: -9px;
  }

  .zipp {
    margin-top: -29px;
  }

  .countryy {
    margin-top: -15px;
  }

  .gend {
    margin-top: -23px;
  }

  #email-error {
    position: absolute;
    padding-top: 15px;
    bottom: 377px;
    /* bottom: 12px; */
    /* right: 17px; */
    font-size: 14px;
    color: red;
  }

  .all_language_list {
    min-width: 100px !important;
    max-height: 405px;
    /* overflow-y: scroll; */
    transform: translate3d(530px, -10px, 0px);
    will-change: transform;
  }

  .footer_style {
    position: initial;
    /* width: 100%; */
    height: auto;
    top: 1095px;
  }

  .footer_style a {
    text-decoration: none;
    font-size: 10px !important;
  }

  .footer_style .vcenter .pol {
    display: none;
  }

  .footer_style .container {
    max-width: 834px;
  }

  .footer_style .pull_right_style p {
    margin-top: -13px;
    line-height: 12px;
  }





}

@media(min-width: 498px) and (max-width:767px) {
  .border-center:before {
    content: '';
    position: absolute;
    width: 65%;
    left: -41px;
  }

  .border-center2:before {
    content: '';
    position: absolute;
    width: 77%;
    left: -52px;
  }

  .border-center3:before {
    content: '';
    position: absolute;
   width: 63%;
    left: -40px;
  }

  /*  .footer_style{

  }
*/
}

@media(min-width: 508px) and (max-width:767px) {
  .cbox_style {
    margin-top: 30px;
  }

  .footer_style .vcenter {}

  .footer_style .Policy {}
}

@media(min-width: 356px) and (max-width:388px) {
  .footer_style {
    width: 100% !important;
  }
}

@media(min-width: 370px) and (max-width:375px) {
  .footer_style {
    padding-left: 25px !important;
  }
}

@media(min-width: 355px) and (max-width:364px) {
   .border-center:before {
    width: 41% !important;
    left: -16px !important;
  }

  .border-center2:before {
    width: 53% !important;
  }

  .border-center3:before {
 width: 41% !important;
    left: -16px !important;
  }
}

@media(min-width: 420px) and (max-width:505px) {
  .footer_style {
    padding-left: 50px;
  }
}

@media(min-width: 569px) and (max-width:576px) {
  .footer_style .Policy {
    padding-left: 5px;
  }
}

@media(min-width: 489px) and (max-width:498px) {}

@media (min-width: 340px) and (max-width: 375px) {
  .footer_style .vcenter a {
    margin-left: 0px !important;
    font-size: 11px;
  }

  .footer_style .pull-left a {
    font-size: 11px !important;
  }
}

@media(min-width: 473px) and (max-width:500px) {
  .footer_style p {
    padding-right: 40px !important;
  }
}

@media(min-width: 405px) and (max-width:430px) {
  .icon_heading_3 a {
    right: 46px !important;
  }

  .border-center:before {
    width: 49% !important;
    left: -23px !important;
  }

  .border-center2:before {
    width: 49% !important;
    left: -23px;
  }

  .border-center3:before {
    width: 49% !important;
    left: -23px !important;
  }

}

@media(min-width: 431px) and (max-width:497px) {
  .border-center:before {
    width: 58% !important;
    left: -31px !important;
  }

  .border-center2:before {
  width: 58% !important;
    left: -31px;
  }

  .border-center3:before {
    width: 58% !important;
    left: -32px !important;
  }
}

@media (min-width: 480px) and (max-width: 500px) {
  .icon_heading_2 {
    padding-left: 15px !important;
    padding-top: 5px !important;
  }
}

@media(min-width: 581px) and (max-width:767px) {
  .icon_heading_2 {
    left: 33px;
    top: -26px;
  }
}

@media(min-width: 991px) {
  .gradient-form {
    height: calc(100% - 120px);
  }
}

@media(min-width: 581px) and (max-width:767px) {
  .footer_style .pull_right_style p {
    padding-right: 0px;
  }

  .footer_style .vcenter {

    /* margin-left: 61px; */
    padding-left: 50px;
    left: 50px;
    position: relative;
  }
}

@media(min-width: 501px) and (max-width:562px) {
  .footer_style .pull_right_style p {
    padding-right: 88px !important;
  }

  .footer_style .vcenter {
    position: relative;
    /* left: 30px; */
    padding-left: 50px;
  }
}

