@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: roboto;
  
}
@font-face {
  font-family: "open Sans";
  
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
    .content {
        width: 360px;
    }
p {
  font-family: roboto;
  
}
}
@media only screen and (min-width: 360px) and (max-width: 400px) {
    
.heading_style h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;
text-align:center;
}
}

.heading_style p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;

color: #757575;
}

.icon_style{

width: 45px;
height: 45px;
left: 2px;
border-radius: 50px;
margin:auto;
background: #EAF1FE;
}
.icon_padding_style {
  padding: 12px 15px;
}
.icon_heading{
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align:center;
color: #ffffff;
padding: 20px 0 0;
}

.icon_heading_2{

    position: absolute;
width: 105px;
height: 19px;
left: 60px;
top: -10px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #757575;
}

.icon_heading_3{
    position: absolute;
width: 31px;
height: 19px;
left: 260px;
top: 495px;

font-style: normal;
font-weight: 400;
line-height: 19px;


font-size: 14px;
/* identical to box height */


color: #006BDE;

}

.div1{
position: absolute;
width: 31px;
height: 19px;
left: 856px;
top: 700px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #006BDE;
}

.div4{
    position: absolute;
width: 52px;
height: 19px;
left: 846px;
top: 649px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;
}

.fome_heading{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 156% */


color: #000000;

opacity: 0.7;
}

.label_text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
/* or 142% */


color: #000000;
}
.button_style{
background: #DCDCDC;
border-radius: 5px;
width:80%;
margin-top:20px;
color: #757575;
}

.div_bg{
background: #FBFDFF;
border: 1px solid #E6E6E6;
border-radius: 5px;

text-align: center;
padding: 5px;
margin-top:10px;
}
.footer_style{
padding: 10px;

}
.footer_style p{
margin-bottom:0 !important;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

}
.p-md-5 {
    padding: 0rem!important;
}
.div_m{
margin:30px 0 0 0;
}

.div_m_t{
padding:24px 10px;
}



.btn-primary{

    width: 59px;
    height: 50px;
    left: 843px;
    top: 496px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }

.btn-style{
    box-sizing: border-box;

position: absolute;
width: 525px;
height: 50px;
left: 15px;
top: 403.50px;

background: #DCDCDC;
border-radius: 5px;
}

.text{
    position: absolute;
width: 59px;
height: 19px;
left: 243px;
top: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #757575;
}

.checkbox{
    box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
padding-left: 20px;
left: 627px;
top: 430px;

border: 1px solid #E6E6E6;
border-radius: 5px;
}

.gradient-custom-lo {
    background: #DCDCDC;
	}
	
	.so_style{
	width:60%;
	}
.image_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-brand-2 {
    color: #878787;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
}

.navbar-brand-2 a
{
    color:#006BDE;

}
.p_open
{
font-family: roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #FFFFFF;
}
.text_margin_style
{
    margin-bottom: 1rem!important;
	text-align:center;
}

.button{

    box-sizing: border-box;

    position: absolute;
    width: 489px;
    height: 50px;
    right: 27px;
    top: 150px;
    padding-top: 50px;
    right: 22px;
    top: 317.9px;
    
    background: #DCDCDC;
    border-radius: 5px;
}
.button1{


box-sizing: border-box;

position: absolute;
width: 480px;
height: 50px;
left: 40px;
top: 400px;
padding-right: 20px;

background: #DCDCDC;
border-radius: 5px;
}



.Proceed_text1{


    position: absolute;
    width: 59px;
    left: 245px;
    padding-top: 15px;
    padding: center;
    height: 19px;
    font-size: 16px;
    color: #757575;   
}

.Proceed_text2{


    position: absolute;
    width: 59px;
    left: 245px;
    padding-top: 8px;
    padding: center;
    height: 19px;
    font-size: 16px;
    color: #757575;   
}

.Submit_text{
    
position: absolute;
width: 52px;
left: 246px;
padding-top: 8px;
font-size: 16px;
color: #FFFFFF;

}

.Login_text{
   
    position: absolute;
    width: 40px;
    height: 19px;
    left: 248px;
    padding-top: 10px;
    font-size: 16px;
    
    color: #FFFFFF; 
    
}

.Register_text_style{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
padding-bottom:0px !important;
color: #000000;
}

.button_style{

    position: absolute;
    width: 59px;
    height: 19px;
    left: 843px;
    top: 496px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #757575;
    
    }

.Reset{

  
   top: 280px;


font-size: 16px;
padding-top: 10px;


color: #FFFFFF;


    }

.form_label_style
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
color:#000000;
opacity: 0.7;
}
.cbox_style
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #000000;
width:450px;
float:right;
padding-right:60px;
}

.pull_right_style{
float:right;
}

.line {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  text-align: center;
  gap: 40px;
}

.line::after {
  content: '';
  border-top: 2px dotted;
}

.border-center { 
            width: 50%;
            
            position: relative;
        }

.border-center:before {
    content: '';
    position: absolute;
    top: 25%;
    border-bottom: 2px #ffffff dotted;
    width: 48%;
    z-index: 0;
    left: -20px;
}
.border-center2 { 
            width: 50%;
            
            position: relative;
        }
.border-center2:before {
    content: '';
    position: absolute;
    top: 25%;
    border-bottom: 2px #ffffff dotted;
    width: 78%;
    z-index: 0;
    right: 88px;
}
.border-center3 { 
            width: 50%;
            
            position: relative;
        }
.border-center3:before {
    content: '';
    position: absolute;
    top: 25%;
    border-bottom: 2px #ffffff dotted;
    width: 62%;
    z-index: 0;
    right: 87px;
}
	.form-select {
    
    background-position: right 0.75rem center!important;
	padding: 0.375rem 0.75rem 0.375rem 0.75rem!important;
    
	}
.py-5 {
    padding-top: 0rem!important;
    padding-bottom: 2rem!important;
}
.mb-4 {
    margin-bottom: 1.2rem!important;
}


          
        .icon_img_style  {
            padding: 10px;
            min-width: 80px;
			background: url(../img/ma-Vector.png) no-repeat  4px 10px!important;
			padding-left: 25px !important;
			
        }
		
         .icon_img_style2 {
            padding: 10px;
            min-width: 40px;
			background:url(../img/fe-Vector.png) no-repeat  4px 10px!important;
			padding-left: 20px !important;
			
        } 
        .genderChange
        {
          color: #006BDE!important;
        }
        
		.Thank_text_h1{
		font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #000000;
		}

.Thank_gradient-custom-2 {
    background: #006BDE;
    display: grid !important;
    padding: 53px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    border-bottom: 1px dotted black;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    border-bottom: 1px dotted black;
  }
