// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import "~bootstrap/dist/css/bootstrap";

// Global
@import 'global';

// Pages
@import 'pages/dashboard';

// Bootstrap Overrides
@import 'custom';
// Plugins
