
     /* ******Whole Section***************** */

     *{
      font-family: 'Roboto', sans-serif;
      
      }

      body{
        background-color: rgb(221, 225, 228);
        padding-bottom: 20px;
      }

      .container{
        width: 600px;
        height: 1378px;
        margin-bottom: 20px;
      }
      
      .card{
        width: 600px;
        height: 1378px;
        background-color: white!important;
        color: black!important;
      }
      /* ******End of Whole Section***************** */


        /* ******************Card header Section************************ */
      
        .card-header{
          margin-top: 0px;
          margin-bottom: 0px;
          background-color: white!important;
          text-align: center;
        }
        .header_logo{
          width:170px;
          height: 34px;
         }
  
       /* *******************End of card header Section*********************** */
  

      /*********Card body section *********************/
      .card-body{
        background-color: white!important;
        
      }


     
      .first_part{
        margin-top: 20px;
        margin-left: 5px;
        width: 560px; 
        height: 549px;
        text-align: center;
        background-color:#F4FAFF; 
        border-radius: 10px;
        /* border: 1px solid black; */
        padding: 10px;
      }

      .body_logo{
        width:81;
        height: 81px; 
        margin-top: 40px; 
        margin-bottom: 20px;
      }

      .join_now_button{
        width: 308px;
        height: 45px;
        background: #1080D0;
        color: white;
        padding-top: 9px;
        margin-top: 25px;
        font-size: 16px;
        /* border: 1px solid black; */
      }
      

      .second_part{
        width: 560px;
        height: 114px;
        background: #FFFBF3;   
        padding-top: 15px;
        border-radius: 10px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        /* border: 1px solid black; */
      }

      .star_log{
        width:100;
        height: 100px;
        margin-left: 50px;
        padding-bottom: 20px;
      }
      .second_part p{
        margin-left: -30px;
        margin-top: 15px;
      }

      .third_part{
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 50px;
      }

      .third_part_body{
        width: 321px;
        height: 77px;
        /* border: 1px solid black; */
        text-align: center;
        padding: 2px;
      }

      .Regards,.address_p{
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        color: rgba(51, 51, 51, 1);
      }
      .s_team{
        font-size: 18px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
      }


      .fourth_part{
        text-align: center;
        height: 200px;
        
       }
       .fourth_part_para_1{
         width: 530px;
         height: 48px;
         /* border: 1px solid black; */
         text-align: center;
         margin: 10px;
       }
       .fourth_part_para_2{
         width: 535px;
         height: 130px;
         /* border: 1px solid black; */
         text-align: center;
         margin: 10px;
         padding-top: 1px;
         padding-left: -4px;
         margin-top: -1px!important;
         margin-bottom: -10px!important;
         font-weight: 400px;
       }

       .footer-nav{
        margin-top: 30px;
        width: 553px;
        height: 17px;
        /* border: 1px solid black; */
        margin-left: 10px;
        padding: 0px;
       
      }

      .footer-nav ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        height: 17px;
        line-height: 20px;
        font-size: 12px;  
       }
       .footer-nav ul li{
         float: left;
       }
       .footer-nav ul li a{
        display: block;
        padding: 0 7.5px;
        color: black;
        text-decoration: none;
 
       }
 
       .footer-nav ul li a:hover {
         border-radius: 5px;
         transition: all ease 0.2s;
         color:#1080D0;
         text-decoration:underline;
       }
 
       .unsubscribe{
        margin-top: 10px!important;
       }
       .unsubscribe a{
         font-size: 12px; 
         color: black; 
       }

     
      
    /************ End of card body section ************************/


     /* *********Card footer Section*********** */
     .card-footer{
      height: 56px;
      width: 600px;
      background: #1080D0;
      color: white;
    }
  
    .left{
      font-size: 12px!important; 
      display: block;
      justify-content: center;
    }
    .left p{
      margin: 0px;
    }

    .right{
      /* border: 1px solid black; */
      width: 140px;
      margin-left: 40px;
      padding: 3px;
    }
    .right ul{
      margin: 0px;
      padding: 0px;
      list-style: none;
      height: 24px;
     }
     .right ul li{
       float: left;
     }
     .right ul li a {
      display: block;
      padding: 0 10px;
      color: white;
      text-decoration: none;
      cursor:pointer;

     }
    /* ************End of Card footer Section****************** */

    
  
